<% provide(:title, 'Status Report') %>

<%= render 'index_filter' %>

<div class="table-responsive widget-width ">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>User</th>
        <th>Company</th>
        <th>Group</th>
        <th>Course</th>
        <th>Status</th>
        <th>Completed Date</th>
        <th>Requal Date</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @records) do |record| %>
            <td><%= record.user.full_name %></td>
            <td><%= record.user.client.name %></td>
            <td><%= record.user.group.name %></td>
            <td><%= get_course_name(record.course_id) %></td>
            <% if record.pass == true && record.requal_date > Date.today && record.score >= get_course_min_score(record.course_id) %>
              <td style="background-color: LightGreen; color:#202020;"><b>Qualified</b></td>
            <% else %>
              <td style="background-color: LightCoral;color: white;"><b>Not Qualified</b></td>
            <% end %>
            <td><%= record.completed_date %></td>
            <td><%= record.requal_date %></td>
      <% end %>
    </tbody>
  </table>
  <div class="widget-foot">
    <ul class="pagination pull-right">
      <%= will_paginate @records, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
