<div class="widget wgreen widget-width">
  <div class="widget-head">
    <div class="pull-left"><%= yield(:title) %></div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content padd">
<!-- ################### -->

<%= form_for(@group, :html => { :class => "form-horizontal" }) do |f| %>
  
  <% if @group.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@group.errors.count, "error") %> prohibited this client from being saved:</h4>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :client_id, "Company", :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.collection_select :client_id, Client.all, :id, :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.submit :class => "btn btn-primary btn-lg" %>
    </div>
  </div>
  
<% end %>


 <!-- ################### -->
  </div>
</div>