<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
    <div class="brand" >
			<%= link_to "Records Tracker", records_path %>
		</div>
      <nav>
        <ul class="nav pull-right">
          <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add Items<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "User", new_user_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Record", new_record_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Client", new_client_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Course", new_course_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Group", new_group_path %></li>
              </ul>
          </li>
          <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">View Items<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Users", users_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Records", records_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Status Report", status_report_index_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Clients", clients_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Courses", courses_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Groups", groups_path %></li>
              </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>