<div class="widget wgreen widget-width">
  <div class="widget-head">
    <div class="pull-left"><%= yield(:title) %></div>
    <div class="clearfix"></div>
  </div>
  <div class="widget-content padd">
<!-- ################### -->

    <%= form_for(@record, :html => { :class => "form-horizontal" }) do |f| %>
      <% if @record.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h4>

          <ul>
          <% @record.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :user_id, :class => "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.collection_select :user_id, User.all, :id, :full_name %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :course_id, :class => "col-lg-4 control-label" %>
        <div class="col-lg-10">
          <%= f.collection_select :course_id, Course.all, :id, :name %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :completed_date, :class => "col-lg-4 control-label" %>
        <div class="col-lg-10">
          <%= f.date_select :completed_date, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :score, :class => "col-lg-4 control-label" %>
        <div class="col-lg-2">
          <%= f.text_field :score, :class => "form-control" %>
        </div>
      </div>
          <div class="form-group">
        <%= f.label :pass, :class => "col-lg-4 control-label" %>
        <div class="col-lg-10">
          <%= f.check_box :pass, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10">
          <%= f.submit :class => "btn btn-primary" %>
        </div>
      </div>

    <% end %>
 
 <!-- ################### -->
  </div>
</div>
