<% provide(:title, 'Activity Report') %>

<%= render 'index_filter' %>

<div class="table-responsive report-width center">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>User</th>
        <th>Company</th>
        <th>Group</th>
        <th>Course</th>
        <th>Score</th>
        <th>Pass / Fail</th>
        <th>Completed Date</th>
        <th>Requal Date</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @records) do |record| %>
            <td><%= record.user.full_name %></td>
            <td><%= record.user.client.name %></td>
            <td><%= record.user.group.name %></td>
            <td><%= get_course_name(record.course_id) %></td>
            <td><%= record.score %></td>
            <% if record.pass == true %>
            <td style="color:green;">Passed</td>
            <% else %>
            <td style="color:red;">Failed</td>
            <% end %>
            <td><%= record.completed_date %></td>
            <td><%= record.requal_date %></td>

            <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Delete', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
  <div class="widget-foot">
    <ul class="pagination pull-right">
      <li><a href="#">Prev</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">Next</a></li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
