<div class="page-header">
  <%= link_to records_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_record_path(@record), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Record Info</h1>
</div>

<dl class="dl-horizontal">
   <dt>Company:</dt>
  <dd><%= @record.user.client.name %></dd>

   <dt>User:</dt>
  <dd><%= @record.user.full_name %></dd>

   <dt>Group:</dt>
  <dd><%= @record.user.group.name %></dd>

  <dt>Course:</dt>
  <dd><%= @course.name %></dd>

  <dt>Completed Date:</dt>
  <dd><%= @record.completed_date %></dd>

  <dt>Requal Date:</dt>
  <dd><%= @record.requal_date %></dd>

  <dt>Score:</dt>
  <dd><%= @record.score %></dd>

  <dt>Pass:</dt>
  <% if @record.pass == true %>
   <dd style="color:green;">Passed</dd>
  <% else %>
    <dd style="color:red;">Failed</dd>
  <% end %>
  
</dl>
