<div class="widget alert-one-month">
  <div class="widget-head">
    <div class="pull-left">Expiring in &lt; 1 Month</div>
    <div class="widget-icons pull-right">
      <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
      <a href="#" class="wclose"><i class="icon-remove"></i></a>
    </div>  
    <div class="clearfix"></div>
  </div>
  <div class="widget-content">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>Company</th>
          <th>Group</th>
          <th>Evaluation</th>
          <th>Expiration</th>
        </tr>
      </thead>
      <tbody>
        <% @one_month_report.each do |data| %>
          <tr>
            
            <td><%= data.user.full_name %></td>
            <td><%= data.user.client.name %></td>
            <td><%= data.user.group.name %></td>
            <td><%= @course_name = course_name(data.course_id) %></td>
            <td><%= data.requal_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="widget-foot">
      <ul class="pagination pull-right">
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    <div class="clearfix"></div>
  </div>
  </div>
</div>