<% provide(:title, 'Course List') %>

<div class="table-responsive widget-width ">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Requal Interval (Months)</th>
        <th>Minimum Score</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @courses) do |course| %>
            <td><%= course.name %></td>
            <td><%= course.requal_interval %></td>
            <td><%= course.min_score %></td>
            <td><%= link_to 'Show', course, :class => "btn btn-default btn-primary" %></td>
            <td><%= link_to 'Edit', edit_course_path(course), :class => "btn btn-default " %></td>
            <td><%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default " %></td>
      <% end %>
    </tbody>
  </table>
  <div class="widget-foot">
    <ul class="pagination pull-right">
      <%= will_paginate @courses, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
