<!DOCTYPE html>
<html>
<head>
  <title>Oasis Initiative : Test Tracker</title>
  <%= render 'shared/meta' %>
  <%= render 'shared/stylesheets' %>
  <%= render 'shared/shiv' %>
</head>

<body>
	  <%= render 'shared/nav' %>
	<div class="container-fluid">
	  <%= render 'shared/brand' %>
	  <%= render 'shared/alerts' %>
	  <%= yield %>
	  <%= render 'shared/footer' %>
	</div>
</body>
</html>
